@media (prefers-color-scheme: dark) {
    :root {
      --body-bg-color: #282828;
      --content-bg-color: #333;
      --card-bg-color: #555;
      --text-color: #ccc;
      --blockquote-color: #bbb;
      --link-color: #ccc;
      --link-hover-color: #eee;
      --brand-color: #ddd;
      --brand-hover-color: #ddd;
      --table-row-odd-bg-color: #282828;
      --table-row-hover-bg-color: #363636;
      --menu-item-bg-color: #555;
      --btn-default-bg: #222;
      --btn-default-color: #ccc;
      --btn-default-border-color: #555;
      --btn-default-hover-bg: #666;
      --btn-default-hover-color: #ccc;
      --btn-default-hover-border-color: #666;
    }
    img {
      opacity: 0.75;
    }
    img:hover {
      opacity: 0.9;
    }
}
