html {
  content: ""; 
}
/* Light mode */
@media (prefers-color-scheme: light) {
  html {
      content: "light";
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  html {
      content: "dark";
  }
}
